*, *:before, *:after 
  {box-sizing:  border-box !important;
}

@font-face {
    font-family: 'djemberegular';
    src: url('../fonts/djembe45-webfont.eot');
    src: url('../fonts/djembe45-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/djembe45-webfont.woff') format('woff'),
         url('../fonts/djembe45-webfont.ttf') format('truetype'),
         url('../fonts/djembe45-webfont.svg#djemberegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  line-height: 1.45rem;
	padding: 0;
	margin: 0 0 3rem 0;
  background-color: #111;
  color: #ccc;
}

p, ul, ol, h1, h2, h3, h4, nav {
	max-width: 50rem;
  margin: 0 auto;
  padding: 1rem 1.5rem;
}

nav {
  font-size: 0.9rem;
	text-align: center;
}

nav > a {
  text-decoration: none;
  color: #aaa;
}

nav > a:hover {
  color: #fff;  
}

a {color: #aaa}
a:hover {color: #fff}
a:visited {}

header {
  margin-top: 3rem;
  margin-bottom: 8rem;

}

blockquote {

}


.lead {
	max-width: 50rem;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  position: relative;
}

.lead-img {
  width: 100%;
}

.lead-quote {

}

.lead-quote > p {
  line-height: 1rem;
  padding: 0.25rem;
  font-size: 1rem;
}

.separator {
  padding: 0 0.5rem;
  color: #111
}

h1 {
	font-family: 'Kaushan Script', cursive;
	font-size: 3.5rem;
  text-align: center;
}

h1 > a {
  text-decoration: none;
  color: #ddd;
}

h2 {
	font-size: 2rem;
  text-align: center;
  line-height: 2.2rem;
}

h3 {
	font-size: 1.5rem;
	text-align: center;
}

h4 {
	font-size: 1.3em;
}

blockquote {
	font-size: 1.2em;
  font-style: italic;
}

.contact {
	text-align: center;
}


.img-gallery {
  column-width: 18rem;
  -moz-column-width: 18rem;
  -webkit-column-width: 18rem;
  column-gap: 1rem;
  -moz-column-gap: 1rem;
  -webkit-column-gap: 1rem; 
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem 1.5rem;
 }
 
.img-container {
  display: inline-block;
  margin:  0.25rem;
  padding: 0.25rem;
  width:  100%; 
}

.img-link {
  width: 100%;
}

.img-photo {

}

.img-desc {
 font-size: 0.8rem;
 margin: 0;
 padding: 0 0;
 width: 100%;
 /* background-color: black;
 color: #bbb; */
}

.workshop {
  float: right;
}

iframe {
	padding: 0em 1em;
}

.djembe {
  font-family: djemberegular, courier, monospace;
  font-size: 32px;
  line-height: 0.5em;
	text-align: center;
}

.verbal {
	font-family: monaco, menlo, courier, monospace;
	text-align: center;
}
