body {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility;
	padding: 0;
	margin: 0 auto;
}

header {
	padding: 1em 1em;
	background-color: whitesmoke;
}
	
h1 {
	font-family: 'Kaushan Script', cursive;
	font-size: 3em;
	text-align: center;
}

.contact {
	text-align: center;
}

img.lead {
	display:block;
	margin-right: auto;
	margin-left: auto;
}

section {
	padding: 2em 1em;
}

section#music {
	background-color: #D1DBBD;
}

section#acting {
	background-color: #EFECCA;
}

section#coaching {
	background-color: #FCFFF5;
}


.container {
	max-width: 60em;
	margin: 1em auto;
}

h2 {
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
}

h3 {
	font-size: 1.5em;
	text-align: center;
	padding: 1em 1em;
}

.tagline {
	color: darkblue;
}

img.stills {
	padding: 1em 4em;
}

img.large {
	max-width: 100%;
}

img.workshop {
	padding: 1em 4em;
	float: right;
}

iframe {
	padding: 1em 1em;
}

