<footer>
    <p> 
        <a href="mailto:jembeashok@gmail.com?subject=Contact">jembeashok@gmail.com</a> 
      | <a href="tel:+91 9980 344 788">+91 9980 344 788</a>       
  </p>
</footer>

<script>
// For youtube embeds with image already downloaded
 ( function() {
   var youtube = document.querySelectorAll( ".youtube" );
   for (var i = 0; i < youtube.length; i++) {
      youtube[i].addEventListener( "click", function() {
        var iframe = document.createElement( "iframe" );
            iframe.setAttribute( "frameborder", "0" );
            iframe.setAttribute( "allowfullscreen", "" );
            iframe.setAttribute( "gesture", "media");
            iframe.setAttribute( "allow", "encrypted-media");
            iframe.setAttribute( "src", "//www.youtube-nocookie.com/embed/"+ this.dataset.id +"?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1" );
            this.innerHTML = "";
            this.appendChild( iframe );
      } );
    };
})();
</script>
</body>
</html>
