<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content=" {{ site.description }}">
  <meta name="author" content="{{ site.name }}">

	<title>Ashok Kumar | Jembe, Actor, Coach</title>
  <!--  CSS for the Page -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet'>
  <link type="text/css" rel="stylesheet" href="../style.css" />
</head>

<body>
  <nav>
    <a href="/">HOME</a>
    <span class="separator">| </span> <a href="/acting">ACTING</a>
    <span class="separator">| </span> <a href="/music">MUSIC</a>
    <span class="separator">| </span> <a href="/training">TRAINING</a>
    <span class="separator">| </span> <a href="/photos">PHOTOS</a>
    <span class="separator">| </span> <a href="/contact">CONTACT</a>
  </nav>
         
  <header>
    <h1>
        <a href="/">jembe ashok</a>
    </h1>
    <!--  <a href="/"> <img class="lead" src="../img/ashok.jpg" title="Ashok Kumar" /> </a>
      <h3 class="contact"> Ashok Kumar | <a href="mailto:jembeashok@gmail.com?subject=Contact">jembeashok@gmail.com</a>  </h3>
    -->
  </header>