*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  line-height: 1.45rem;
	padding: 0;
	margin: 0 0 3rem 0;
  background-color: #111;
  color: #ccc;
}

p, ul, ol, h1, h2, h3, h4, nav {
	max-width: 50rem;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  line-height: 1.5rem;
}

nav {
  font-size: 0.9rem;
	text-align: center;
}

nav a, footer a {
  text-decoration: none;
  color: #aaa;
}

nav a:hover, footer a:hover {
  color: #fff;  
}

.navlink {
  padding: 0 0.7rem;
}

.separator {
  padding: 0 0.7rem;
  color: #fff
}

a {color: #aaa}
a:hover {color: #fff}

header {
  margin-top: 3rem;
  margin-bottom: 7rem;
}

footer {
  margin: 4rem auto; 
  text-align: center;
}

header img{
  margin: 0 auto;
  display:block;
}

h1 {
	font-size: 3.5rem;
  text-align: center;
  line-height: 3.5rem;
}

h1 > a {
  text-decoration: none;
  color: #ddd;
}

h2 {
	font-size: 2rem;
  text-align: center;
  line-height: 2.2rem;
}

h3 {
	font-size: 1.5rem;
	text-align: center;
}

h4 {
	font-size: 1.3em;
}

blockquote {
	font-size: 1.2em;
  font-style: italic;
}

/* For main page visual navigation */

.pages { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 2rem;
  max-width: 66rem;
  /* margin-left: -8px; Adjustment for the gutter */
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  max-width: 20rem;
  min-width: 8rem;
  opacity: 0.8;
  /* margin: 0 8px 8px 0; Some gutter */
  /* border: #fff 1px solid; */
}

.page:hover {
  opacity: 1.0;
}

/* .page:nth-child(1) {width: 320px;}
.page:nth-child(2) {width: 320px;}
.page:nth-child(3) {width: 320px;}
.page:nth-child(4) {width: 240px;}
.page:nth-child(5) {width: 240px;}
.page:nth-child(6) {width: 240px;}
.page:nth-child(7) {width: 160px;} */


/* For all other grids */

.grid-2 {
  column-width: 30rem;
  column-gap: 1rem;
  max-width: 66rem;
  margin: 0 auto;
  padding: 2rem;
}

.grid-3 {
  column-width: 20rem;
  column-gap: 1rem;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.grid-4 {
  column-width: 18rem;
  column-gap: 1rem;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
 }
 
 /* card for acting */

.card {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  min-width: 150px;
  max-width: 640px;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  background-color: #000;
  /* border: #ddd 1px solid; */
}

.upper{
  position: relative;
  min-height: 100px;
}

.photo {
  max-width: 100%;
}

.title {
  font-size: 1.8rem;
  line-height: 2.8rem; 
  font-weight: 800;
  text-align: left;
  position: relative; 
  bottom: 3.2rem; 
  left: 0; 
  width: 100%; 
  margin: 0;
  padding: 0;
}

.title-text { 
  background: rgba(0, 0, 0, 0.7);
  padding: 0.5rem 1.5rem 0.5rem 1.5rem; 
}

.description {padding: 0rem 1.5rem 0.3rem 1.5rem;}
.sub-text  {font-size: 0.8rem; padding: 0 1.5rem;}
.special{
  font-size: 0.8rem; 
  padding: 0 1.5rem 1rem 1.5rem; 
  color: goldenrod;
}
.special a {color: goldenrod;}

/* for photo gallery */

.img-photo {
  width: 100%;
}

.img-desc {
 font-size: 0.8rem;
 margin: 0;
 padding: 0 0;
 width: 100%;
 /* background-color: black;
 color: #bbb; */
}




/* For Youtube Embeds */
.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* youtube embed with image downloaded already */

.youtube {
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 200ms ease-out;
  margin: 10px 0;
}

.youtube img{
  position: absolute;
  width: 100%;
  top: -16.84%;
  left: 0;
  opacity: 0.7;
}

.youtube .play {
  position: absolute;
  width: 90px;
  height: 60px;
  background-color: #333;
  box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px;
}

.youtube .play:before {
  position: absolute;
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26.0px;
  border-color: transparent transparent transparent #fff;
}

.youtube .play,
.youtube .play:before {
  top: 50%;
  left: 50%;
  transform: translate3d( -50%, -50%, 0 );
}

.youtube .play:hover,
.youtube img:hover {
  opacity: 1.0;
}

.youtube iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.workshop {
  float: right;
}

iframe {
	padding: 0em 1em;
}

.djembe {
  font-family: djemberegular, courier, monospace;
  font-size: 32px;
  line-height: 0.5em;
	text-align: center;
}

.verbal {
	font-family: monaco, menlo, courier, monospace;
	text-align: center;
}