{% include header.html %}

<header>
  <div class ="container">
    <h1>
      <a href="/">jembe ashok</a>
    </h1>
  <!--  <a href="/"> <img class="lead" src="../img/ashok.jpg" title="Ashok Kumar" /> </a>
    <h3 class="contact"> Ashok Kumar | <a href="mailto:jembeashok@yahoo.com?subject=Contact">jembeashok@yahoo.com</a>  </h3>
  -->
    <nav>
    <h3>
      <span class="separator"></span> <a href="/acting">Acting</a>
      <span class="separator">| </span> <a href="/music">Music</a>
      <span class="separator">| </span> <a href="/training">Training</a>
      <span class="separator">| </span> <a href="/sacred">Sacred</a>
      <span class="separator">| </span> <a href="/contact">Contact</a>
    </h3>
    </nav>
  </div>
</header>


<div class="container">
{{ content }}
</div>

{% include footer.html %}
